.catalog__item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	transition: box-shadow .3s;
	padding: 15px;
	background-color: #ebe9e9;
	margin-bottom: 25px;
	transition: all 0.2s ease;
}

.catalog__item:hover {
	transform: translateY(-2px);
	box-shadow: 0 0 3px rgb(0 0 0 / 60%);
}

.catalog__itemLeft {
	flex: 0 1 71%;
	display: flex;
	gap: 20px;
	align-items: start;
}

.catalog__itemRight {
	display: flex;
	align-items: center;
}


