.search__list {
	max-height: 65vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.search__list::-webkit-scrollbar {
	width: 4px;
}

.search__list::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 100%, .4);
}

.search__listNothing {
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	height: 200px;
	text-align: center;
	max-width: 60%;
	margin: 0 auto;
}

.search__listLoader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	overflow: hidden;
}