.reviews__info {
	position: sticky;
	top: 70px;
	right: 0;
	padding-bottom: 100px;
	width: 200px;
	padding-top: 20px;
	font-weight: 300;
	font-size: 16px;
	color: #1f1f1f;
}

.reviews__infoItem {
	margin-bottom: 20px;
}



.reviews__infoDigit {
	display: block;
	font-weight: 500;
	font-size: 28px;
	line-height: 28px;
	margin: 0 6px 0 0;
	color: #1f1f1f;
	margin-bottom: 5px;
}

.reviews__infoCaption {
	font-size: 12px;
	line-height: 12px;
	font-weight: 300;
	white-space: nowrap;
	color: #141414;
}

.reviews__percentage {
	font-size: 16px;
	line-height: 16px;
	color: rgba(0, 0, 0, .4);
	padding-bottom: 2px;
	font-weight: 300;
	margin-left: 8px;
}

.green {
	color: #00a340;
}

.red {
	color: red;
}

.gray {
	color: rgb(119, 119, 119);
}