.header {
	background-color: #1f1f1f;
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__left {
	display: flex;
	gap: 25px;
	align-items: center;
	padding: 22px 0;
	position: relative;
}

.header__login {
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	transition: all 0.3s ease;
	cursor: pointer;
}

.header__login:hover {
	color: rgba(255, 255, 255, 0.7);
}

