.item__factsSingle {
	position: relative;
	font-size: 14px;
	line-height: 21px;
	color: rgba(0, 0, 0, .5);
}

.item__factsSingle:not(:last-child) {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.item__factsSingle a {
	color: #000;
	text-decoration: underline;
}

.item__factsTitle {
	margin-top: 30px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 40px;
}