.footer {
	background-color: #141414;
	color: #fff;
}


.footer__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;

}

.footer__signature {
	font-size: 14px;
	line-height: 14px;
	color: hsla(0, 0%, 100%, .5);
}

.footer__linksItem {
	margin-right: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.footer__linksItem:hover {
	color: rgba(255, 255, 255, 0.8);
}

.footer__linksItem:nth-child(3) {
	margin-right: 1px !important;
}