.films__swiperImage {
	width: 212px;
	height: 318px;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 15px;
}



.films__swiperImage img {
	width: 100%;
	height: 100%;
	opacity: 0.92;
	transition: all 0.2s linear;
	border-radius: 5px;
}

.films__swiperImage span {
	width: 100%;
	height: 100%;
}

.films__swiperImage:hover .films__swiperImg {
	opacity: 1;
	transform: scale(1.01);
}



.films__name {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #1f1f1f;
	transition: color .3s;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	max-width: 212px;
}

.films__name:hover {
	color: #005382;
}

.films__proffesion {
	display: block;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, .5);
}

.films__title {
	margin-top: 30px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 40px;
}

.films__digit {
	color: rgba(0, 0, 0, .5);
	font-weight: 400;
}